.activity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 0, 0.1);

  &__container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #ff4155;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      display: block;
      position: relative;

      > span {
        padding: 0rem 1rem;
      }
      &:before {
        content: '';
        position: absolute;
        top: 60%;
        left: -25%;
        width: 15%;
        height: 2px;
        background-color: #ff4155;
      }
      &:after {
        content: '';
        position: absolute;
        top: 60%;
        right: -25%;
        width: 15%;
        height: 2px;
        background-color: #ff4155;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #ff4155;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    @include pad-under-width() {
      flex-direction: column;
    }

    &--img {
      flex: 1 1 60%;
      position: relative;
      max-width: 300px;
      margin-bottom: 1rem;
      border-radius: 6px;
      @include pad-under-width() {
        order: 1;
      }
    }

    &--caption {
      flex: 1 1 40%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      min-width: 300px;
      padding: 0rem 3rem;
      @include pad-under-width() {
        order: 2;
        padding: 0rem;
      }

      &-content {
        margin: 2rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        color: #00000089;
        line-height: 35px;
      }
      > h3 {
        display: inline-block;
        position: relative;
        font-size: 2rem;
        font-weight: 600;
        color: black;
        margin-top: 1.5rem;

        @include pad-under-width() {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.bottom-line {
  height: 5px;
  width: 100%;
  background-color: #faff00;
  margin-top: 1.5rem;
}
