.home {
  &__container {
    position: absolute;
    width: 50vw;
    height: 60vh;
    top: 15vh;
    left: 8vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @include pc-width() {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
    @include pad-under-width() {
      top: 30%;
      left: 0;
      width: 100vw;
      height: 50vh;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {
    margin: 1rem 1rem;
    @include pad-under-width() {
      display: none;
    }
  }

  &__content {
    border: 3px solid #0075c9;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    @include pad-under-width() {
      background-color: rgba(255, 181, 84, 0.597);
      margin: 2rem;
    }
    > h1 {
      color: #0075c9;
      font-size: 2rem;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    > p {
      color: #04297e;
      font-weight: 600;
      line-height: 2em;
      font-size: 1rem;
      @include pad-under-width() {
        font-size: 0.7rem;
      }
    }
  }
}
