.home {
  height: calc(100vh - 60px);

  @include pad-under-width() {
    height: calc(100vh - 100px);
  }

  &__img {
    position: relative;
  }

  &__container {
    width: 60%;
    position: relative;
    padding: 1rem 2rem;

    @include pad-under-width() {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    border: 3px solid #0075c9;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);

    > h1 {
      color: #0075c9;
      font-size: 2rem;
      font-weight: 600;
      padding-bottom: 1rem;
      @include phone-width() {
        font-size: 1.5rem;
      }
    }
    > p {
      color: black;
      font-weight: 600;
      line-height: 2em;
      font-size: 1rem;
      @include pad-under-width() {
        font-size: 0.7rem;
      }
      @include phone-width() {
        font-size: 0.5rem;
      }
    }
  }
  &__dynamic {
    animation: move 6s infinite;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2em);
  }
  100% {
    transform: translateX(0);
  }
}
