.container {
  border: $color_line solid 1px;
  border-radius: $radius-size_base;

  @extend %layout-container;

  &--full {
    width: 100%;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: $z-index_front;
    width: 100%;
    border-bottom: $color_line solid 1px;
    background-color: $color_primary-dark;

    @extend %flex-row-between;
  }

  &__title {
    padding: $element-padding_base;
    color: $color_accent;
    font-size: 1.25rem;
  }

  &__subtitle {
    font-weight: normal;
    font-size: 1rem;
  }

  &__actions {
    display: inline-flex;
  }

  &__action {
    padding: 0 $padding_base;
    border: none;
    color: $color_white;
    text-decoration: none;
    cursor: pointer;

    @extend %inline-flex-center;
    @include hoverBackgroundTransition($color_accent-light, $color_accent);
    @include phone-width() {
      padding: $padding_small;
    }

    &--auxiliary {
      @include hoverBackgroundTransition($color_auxiliary-light);
    }

    &--notice {
      @include hoverBackgroundTransition($color_notice);
    }

    &--security {
      @include hoverBackgroundTransition($color_security);
    }

    &--like {
      @include hoverBackgroundTransition($color_like);
    }
  }

  &__context {
    margin: $margin_base;
  }

  &__form {
    position: relative;
    display: flex;
    margin-bottom: $padding_small;

    label {
      display: inline-flex;
      flex: 1;

      > b {
        display: none;
      }
    }

    input {
      flex: 1;
      padding: $element-padding_base;
      outline: none;
      border: $color_line solid 1px;
      border-radius: $radius-size_base 0 0 $radius-size_base;
      letter-spacing: 2px;
    }

    button {
      padding: $padding_small $padding_base;
      border: none;
      border-radius: 0 $radius-size_base $radius-size_base 0;
      color: $color_white;
      letter-spacing: 3px;
      font-size: 1rem;
      cursor: pointer;

      @include hoverBackgroundTransition($color_accent-light, $color_accent);
      @include phone-width() {
        padding: $margin_small;
      }
    }

    &-select {
      flex-basis: 100px;
      margin-right: $margin_small;
      border: 1px solid $color_line;
      border-radius: $border-radius_layout;
      background-color: unset;
    }

    &-category {
      position: absolute;
      height: 100%;

      @extend %flex-row-center;

      select {
        padding: $element-padding_base;
        width: 120px;
        height: 100%;
        outline: none;
        border: $color_line solid 1px;
        border-radius: $radius-size_base 0 0 $radius-size_base;
        letter-spacing: 2px;

        appearance: none;
        @include phone-width() {
          width: 80px;
        }
      }

      &::before {
        position: absolute;
        right: 10px;
        content: '';
        opacity: 0.3;
        transform: rotate(180deg);

        @include triangle($color_accent, 6px, 5px);
      }

      & + label {
        > input {
          padding-left: 140px;

          @include phone-width() {
            padding-left: 100px;
          }
        }
      }
    }
  }
}
