.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ff9900;
    font-weight: 600;
    border-left: 2px solid #ff9900;
    padding-left: 1rem;
  }

  &__Img {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem 0rem;
  }
}
