.footer {
  padding: $layout-size_base 0;
  min-height: 8rem;
  background-color: $color_footer-background;
  color: $color_white;

  @extend %flex-column-between;

  &__container {
    align-items: center;
    flex-wrap: wrap;

    @extend %flex-row-between;
    @extend %layout-container;
  }

  &__info {
    flex: 1;
  }

  &__aside {
    flex: 0 300px;
    flex-wrap: wrap;

    a {
      @include layoutSpaceLeft(15px);

      &:last-child {
        display: inline-block;
        margin-top: $margin_base;
        margin-left: unset;
      }
    }
  }
}
