.header {
  padding-top: 120px;
  min-height: calc(100vh - 120px);
  text-align: center;

  &__taiwan-exhibition {
    position: relative;

    @extend %inline-flex-center;

    > svg {
      position: absolute;
      top: 10%;
      z-index: 1;
      margin-right: 4%;
      width: 25%;
      opacity: 0;
    }
  }

  &__exhibition-introduce {
    position: absolute;
    padding: 1rem 2rem;
    padding-bottom: 50px;
    max-width: 325px;
    width: 100%;
    border: $color_white solid 3px;
    border-radius: $radius-size_big;
    background-color: rgba($color: #434343, $alpha: 0.7);
    font-size: 1.1rem;

    @include phone-width() {
      margin: unset !important;
      margin-top: 100% !important;
    }

    h2,
    h3,
    p,
    a {
      color: $color_white;
    }

    h3 {
      font-size: 1.1rem;
    }

    footer {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;

      a {
        display: inline-flex;
        padding: 1.15rem 2rem;
        border: $color_white solid 3px;
        border-radius: 40px;
        background: linear-gradient(
          298deg,
          rgba(235, 28, 36, 1) 0%,
          rgba(203, 16, 60, 1) 50%,
          rgba(158, 0, 93, 1) 100%
        );
        font-weight: 500;
        font-size: 1.25rem;
        cursor: pointer;
        transform: translateY(-50%);
      }
    }
  }
}
