.link {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @include pad-under-width() {
    width: 100%;
  }

  &__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #003dc9;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      &:before {
        content: '';
        position: absolute;
        top: 60%;
        left: -10%;
        width: 15%;
        height: 2px;
        background-color: #00b2e3;
        transform: translateX(-100%);
      }
      &:after {
        content: '';
        position: absolute;
        top: 60%;
        right: -10%;
        width: 15%;
        height: 2px;
        background-color: #00b2e3;
        transform: translateX(100%);
      }
      > span {
        padding: 0rem 1rem;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    cursor: pointer;
    gap: 10px;

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 500;
      border-radius: 16px;
      width: 190px;
      height: 30px;

      &-default {
        background-color: gray;
        color: white;
      }

      &-1 {
        width: 190px;
        height: 30px;
        background-color: #489a41;
      }
      &-2 {
        width: 190px;
        height: 30px;
        background-color: #003dc9;
      }
      &-3 {
        width: 190px;
        height: 30px;
        background-color: #ff9900;
      }
      &-4 {
        width: 190px;
        height: 30px;
        background-color: #e9274a;
      }
      &-5 {
        width: 190px;
        height: 30px;
        background-color: rgb(255, 209, 2);
      }
    }
  }

  &__card {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 將區塊平均劃分成兩列 */
    align-items: flex-start;
    justify-content: center;
    padding: 5rem;
    grid-auto-flow: dense;

    :first-child {
      grid-column: 1;
    }

    @include pad-under-width() {
      grid-template-columns: 1fr;
      justify-content: center;

      :first-child {
        grid-column: 2;
      }
    }

    &--images {
      @include pad-under-width() {
        width: 90vw;
        height: 90vw;
      }
    }

    :nth-child(2) {
      grid-column: 2;
      max-height: 100%;
    }

    &--lists {
      width: 30vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      background-color: rgba(204, 204, 204, 0.3);
      border-radius: 12px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      margin-top: 1rem;

      @include pad-under-width() {
        width: 90%;
        margin-left: 1rem;
      }

      > li {
        width: 60%;
        justify-content: center;
        cursor: pointer;
        background-color: rgba(72, 154, 65, 0.7);
        border-radius: 50px;
        text-align: center;
        padding: 1rem;
        color: white;
        margin: 0.5rem 0rem;
        font-weight: 500;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 0.9rem;
        &:hover {
          color: rgb(255, 132, 98);
        }
        &:before {
          content: '•';
          color: white;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
        @include phone-width() {
          min-width: 80%;
          font-size: 0.5rem;
          padding: 1rem;
        }
      }
    }

    &--box {
      width: 100%;
      margin-top: 3rem;
      margin: 2rem;

      > h2 {
        display: inline-block;
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
      }

      @include pad-under-width() {
        width: 90vw;
      }

      @include phone-width() {
        width: 80vw;
      }

      &-list {
        width: 100%;
        line-height: 25px;
        > p {
          font-size: 1rem;
          font-family: 'Noto Sans TC', sans-serif;
          padding: 1rem;
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 6px;

    @include pad-under-width() {
      flex-direction: column;
    }
  }
  &__external {
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 12px;
    text-align: center;
    margin: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;

    &--green {
      background-color: rgba(72, 154, 65, 0.9);
    }
    &--red {
      background-color: rgba(235, 72, 72, 0.9);
    }
  }
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
}
