.link {
  width: 100%;
  background-color: rgb(255, 224, 200);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #003dc9;
    position: relative;
    text-align: center;
    h1 {
      display: inline-block;
      padding: 0 1rem;
      > span {
        padding: 0rem 1rem;
      }
      &:before {
        content: ''; // 偽元素需要 content 屬性才能顯示
        position: absolute; // 使線可以相對於 h1 定位
        top: 50%; // 將線置於 h1 的垂直中心
        left: 0; // 將線置於 h1 的左側
        width: 90px; // 設置線的長度
        height: 2px; // 設置線的厚度
        background-color: #00b2e3; // 設置線的顏色
        transform: translateX(-100%); // 將線向左移動，使其不覆蓋 h1 的內容
      }
      &:after {
        content: ''; // 偽元素需要 content 屬性才能顯示
        position: absolute; // 使線可以相對於 h1 定位
        top: 50%; // 將線置於 h1 的垂直中心
        right: 0; // 將線置於 h1 的右側
        width: 90px; // 設置線的長度
        height: 2px; // 設置線的厚度
        background-color: #00b2e3; // 設置線的顏色
        transform: translateX(100%); // 將線向右移動，使其不覆蓋 h1 的內容
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 600;
      &-1 {
        width: 190px;
        height: 30px;
        background-color: #489a41;
      }
      &-2 {
        width: 190px;
        height: 30px;
        background-color: #003dc9;
      }
      &-3 {
        width: 190px;
        height: 30px;
        background-color: #ff9900;
      }
      &-4 {
        width: 190px;
        height: 30px;
        background-color: #e9274a;
      }
      &-5 {
        width: 190px;
        height: 30px;
        background-color: rgb(255, 209, 2);
      }
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5rem;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    ul {
      display: flex;
      flex-direction: column;

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        background-color: #489a41;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: white;
        font-weight: 600;
        > h2 {
          margin-right: 1rem;
        }
      }
    }
  }
}
