.main {
  padding-top: 140px;
  padding-bottom: 100px;
  background: linear-gradient(
    298deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 28, 242, 1) 0%,
    rgba(129, 168, 255, 1) 100%
  );

  &__container {
    margin-bottom: $layout-size_base;

    @extend %layout-container;
  }
}
