.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin: 0.5rem 1rem;
  }

  &__logo {
    width: 250px;
    min-width: 120px;
    padding: 0rem 1rem;
    cursor: pointer;
  }

  &__right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1rem;
    @include pad-under-width() {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(255, 229, 192);
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: all 0.3s ease;
      z-index: 1;
    }
  }

  &__item {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--community {
      padding: 0rem 0.2rem;
    }

    @include pad-under-width() {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    }
  }

  // 相關連結
  &__item-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    li {
      display: flex;
      justify-content: center;
      white-space: nowrap;
      padding: 1rem;

      :hover {
        color: coral;
      }
      > a {
        color: inherit;
        font-weight: 500;
      }
    }

    &.open {
      display: inline-block;
    }

    @include pad-under-width() {
      width: 100vw;
      height: 100vh;
      white-space: nowrap;
      z-index: 3;
    }
    @include phone-width() {
      white-space: nowrap;
      font-size: 0.65rem;
    }
  }

  &__link {
    text-decoration: none;
    color: #0075c9;
    font-weight: 600;
    font-size: 1.17rem;
    letter-spacing: 1.5px;
  }

  &__menu-btn {
    display: none;
    cursor: pointer;
    position: relative;
    @include pad-under-width() {
      display: flex;
      justify-content: center;
    }
    @include phone-width() {
      font-size: 0.7rem;
    }
  }

  &__icon {
    position: relative;
    cursor: pointer;
    z-index: 2;
    font-weight: 600;
    font-size: 1.2rem;
    &:hover .navbar__dropdown {
      display: block;
    }
  }
  // 多國語系
  &__dropdown {
    position: absolute;
    top: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 0.2rem;
    background-color: white;
    border-radius: 8px;

    &-item {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      color: black;
      white-space: nowrap;

      &:hover {
        background-color: rgb(111, 111, 111);
        color: white;
        cursor: pointer;
      }
    }
  }

  &-active {
    cursor: pointer;
    .navbar__list {
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
      transition: all 0.3s ease;
    }

    .navbar__menu-btn {
      &--active {
        color: #0075c9;
        background-color: #0075c9;
      }
    }
  }
}
