.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  height: 100%;
  width: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-right: 2rem;
  z-index: 1;
}

.swiper-pagination span {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination span.active {
  background: cornflowerblue;
}

.swiper.dragging {
  cursor: grab;
}

.swiper.dragging img {
  pointer-events: none;
}
